body,
html {
    background-color: whitesmoke;
    margin: -11px;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: disc;
    padding-left: 1.5rem;
}

a {
    color: blue;
    text-decoration: none;
}

.bar {
    background-color: darkgray;
    padding: 15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}

.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0, 15rem) minmax(0, 2.5fr) minmax(0, 15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

footer {
    position: flex;
    text-align: center;
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}

.anchors {
    padding-left: 15px;
}

figure {
    text-align: center;
}

figcaption {
    text-align: center;
}

iframe {
    display: block;
    margin: auto;
}

p {
    line-height: 1.5;
}

.container-busca,
button {
    position: sticky;
    display: flex;
    padding-top: 50px;
    justify-content: center;
    top: 97px;
    width: 100%;

}

.container-busca input[type="text"] {
    width: 482px;
    height: 19px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 18px;
}

button {
    text-align: center;
    width: 93px;
    height: 26px;
    left: 501px;
    top: 1px;
    height: 29px;
    margin-left: 10px;
    background-color: gray;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}

p,
ul,
li {
    font-size: 130%;
}

h1 {
    font-size: 40px;
    font-style: italic;
}

h2 {
    font-size: 35px;
    font-style: italic;
}

h3 {
    font-size: 30px;
    font-style: italic;
}

i {
    font-family: sans-serif;
}

table,
th,
td {
    text-align: center;
    border: 5px solid black;
    border-collapse: collapse;
    font-size: 25px;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

.sidebar,
.anchors {
    padding: 10px;
    position: sticky;
    left: 0px;
    width: 250px;
    box-shadow: 6px 9px 11px 6px rgba(95, 90, 90, 0.2);
}
a {
    text-decoration: none;
    color: blueviolet;
}
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
a:hover {
    font-family: "UnifrakturMaguntia", cursive;
    color: darkblue;
    text-decoration: underline;
}